.footer {
  padding: 45px 0;
}

.footer__inner {
  display: flex;
  align-items: center;

  @include _992 {
    flex-direction: column;
    align-items: stretch;
  }
}

.footer__column {
  &--left {
    display: flex;
    align-items: center;

    @include _992 {
      margin-bottom: 25px;
      justify-content: space-between;
    }

    @include _480 {
      flex-direction: column;
    }
  }
}

.footer__logo {
  margin-right: 150px;
  width: 145px;

  @include _992 {
    margin: 0;
  }

  @include _480 {
    margin-bottom: 15px;
  }
}

.footer__link-list {
  display: flex;
  align-items: center;

  @include _992 {
    flex-direction: column;
  }
}

.footer__link-item {
  max-width: 200px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #7f93a1;

  @include _480 {
    max-width: none;
  }

  &:not(:last-of-type) {
    margin-right: 25px;

    @include _992 {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }
}

.footer__social-list {
  display: flex;
  align-items: center;
  margin-left: auto;

  @include _992 {
    margin: 0 auto;
  }
}

.footer__social-item {
  background: #7f93a2;

  &:hover {
    background: $color-main;
  }

  &:not(:last-of-type) {
    margin-right: 30px;
  }

  a {
    display: block;
    width: 25px;
    height: 25px;

    &:hover {
      svg {
        // fill: $color-main;
      }
    }
  }

  svg {
    width: 100%;
    height: 100%;
    fill: #ffffff;
  }
}
