.header {
  padding-top: 50px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  @include _768 {
    padding-top: 20px;
  }

  &--open {
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("../img/promo__back.jpg") no-repeat center / cover;
  }
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 154px;
  position: relative;
  z-index: 50;

  @include _768 {
    width: 100px;
  }
}

.header__logo-img {
}

.header__nav {
  overflow: hidden;
  padding: 0 20px;

  @include _768 {
    position: absolute;
    overflow: auto;
    padding: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    min-height: 100vh;
    // background: rgba($color: #000000, $alpha: 0.7);
    z-index: 15;
    padding-top: 100px;
    display: none;
    outline: 2px solid red;
  }

  &--show {
    display: block;
  }
}

.header__nav-list {
  display: flex;
  align-items: center;
  margin: 0 -20px;

  @include _768 {
    margin: 0;
    flex-direction: column;
    align-items: flex-start;
  }
}

.header__nav-item {
  padding: 0 20px;

  @include _992 {
    padding: 0 15px;
  }

  @include _768 {
    padding: 15px 0;
    padding-left: 15px;
  }

  a {
    font-family: $font1;
    font-weight: 500;
    font-size: 15px;
    line-height: 45px;
    text-align: center;
    color: #000000;
    transition: all 0.3s;

    @include _768 {
      font-size: 24px;
      color: #ffffff;
    }

    &:hover {
      color: $color-main;
    }
  }
}

.header__btn--wrapper {
  display: none;
  position: relative;
  z-index: 50;

  @include _768 {
    display: block;
  }
}

.header__btn {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0;
  border: none;
  background: none;
  margin-left: auto;
  cursor: pointer;

  &--open {
    span {
      width: 100%;
      background: #000000;
      height: 2px;
      display: block;

      &--open {
        background: #ffffff;
      }

      &::before,
      &::after {
        width: 100%;
        background: #000000;
        height: 2px;
        left: 0;
        right: 0;
        content: "";
        position: absolute;

        &--open {
          background: #ffffff;
        }
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }
    }
  }

  &--close {
    span {
      &::before,
      &::after {
        position: absolute;
        content: "";
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        left: -3px;
        width: calc(100% + 6px);
        height: 2px;
        background: #ffffff;
      }

      &::before {
        transform: translateY(-50%) rotate(45deg);
      }

      &::after {
        transform: translateY(-50%) rotate(-45deg);
      }
    }
  }
}
