.news {
  min-height: 100vh;
  background: url("../img/news__back.jpg") no-repeat center / 100% 100%;
  padding-top: 120px;
  padding-bottom: 300px;

  @include _992 {
    padding-top: 50px;
    padding-bottom: 30px;
    min-height: auto;
    background: url("../img/news__back.jpg") no-repeat center / 100% 100%;
  }
}

.news__title {
  color: #ffffff;
  margin-bottom: 100px;

  @include _992 {
    margin-bottom: 30px;
  }
}

.news__list {
  display: flex;
  width: 100%;
}

.news__item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 -60px;
  overflow: hidden;

  @media (max-width: 1600px) {
    margin: 0 -30px;
  }

  @include _992 {
    display: block;
    margin: 0;
  }
}

.news__img {
  width: 410px;
  flex-shrink: 0;
  overflow: hidden;
  padding: 0 60px;
  box-sizing: content-box;

  @media (max-width: 1600px) {
    padding: 0 30px;
  }

  @include _992 {
    padding: 0 15px;
    float: left;
  }

  @include _768 {
    width: 100%;
    float: none;
    box-sizing: border-box;
    margin-bottom: 25px;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
}

.news__content {
  font-family: $font1;
  color: #ffffff;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;
  width: 100%;
  padding: 0 60px;

  @media (max-width: 1600px) {
    padding: 0 30px;
  }

  @include _992 {
    padding: 0 15px;
    display: block;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 1%,
      rgba(0, 0, 0, 0.3) 95%,
      rgba(0, 0, 0, 0.3) 100%
    );
  }

  a {
    position: relative;

    &:hover {
      text-decoration: underline;
    }
  }

  h3 {
    font-weight: 600;
    margin-bottom: 15px;
  }

  p {
    font-weight: 400;
    margin-bottom: 15px;
  }
}

.news__tag-list {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  flex-wrap: wrap;

  li {
    &:not(:last-of-type) {
      margin-right: 10px;
    }
  }
}
