$mobile-width: 480px;
$tablet-width: 768px;
$laptop-width: 992px;
$desktop-width: 1200px;
$desktop-full: 1600px;
$desktop-wide: 1920px;
$wrapper-width: 800px;

$mobile-width-only: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Шрифты
$font1: "Montserrat", sans-serif;
$font2: "Playfair Display SC", serif;

// Цвета
$color-main: #2cade4;
