<section id="about" class="about">
  <div class="wrapper">
    <div class="about__inner">
      <div class="about__content">
        <h2 class="about__title section-title">
          О компании
        </h2>
        <div class="about__text">
          <div class="about__img about__img--tablet">
            <img src="img/about__logo.png" alt="">
          </div>
          <p>
            Наша организация успешно осуществляет работы по проектированию горных производств и объектов,
            маркшейдерскому
            обеспечению горных работ и комплексу инженерно - геодезических изысканий.
          </p>

          <p>
            С нашей стороны все выполняемые работы сопровождаются при их экспертизе и согласовании в соответствующих
            органах
            исполнительной власти РФ.
          </p>

          <p>
            Благодаря своевременному соблюдению договорных обязательств, требований законодательства, высокому
            уровню
            ответственности и квалифицированному кадровому персоналу ООО «Геоконект» имеет безупречную репутацию во
            взаимоотношениях
            с заказчиками и органами государственной власти РФ.
          </p>

        </div>
      </div>
      <div class="about__img about__img--desktop">
        <img src="img/about__logo.png" alt="">
      </div>
    </div>
  </div>
</section>
