<section id="documents" class="documents">
  <div class="wrapper">
    <h2 class="section-title documents__title">
      Наши сертификаты
    </h2>
    <div class="documents__inner">
      <div class="documents__left documents__img-wrpapper">
        <img class="documents__img" src="img/documents__img01.jpg" alt="">
      </div>
      <div class="documents__content">
        <div class="document__content-inner">
          <p>ООО «Геоконект» осуществляет свою деятельность на основании:</p>
          <p>Лицензии Ростехнадзора на производство маркшейдерских работ.</p>
          <p>
            В рамках реализации кадровой политики ООО «Геоконект» особое внимание уделяется процессу непрерывного
            повышения
            профессионального уровня сотрудников. Руководящие работники и специалисты компании в установленном
            порядке
            обучены и
            аттестованы по вопросам промышленной безопасности и охраны труда, регулярно проходят курсы повышения
            квалификации в
            специализированных учебных центрах, принимают активное участие в тематических конференциях и семинарах.
          </p>
          <p>Высокая деловая репутация ООО «Геоконект» подтверждена многочисленными положительными отзывами
            Заказчиков.</p>
          <a href="" class="documents__btn btn btn--trans">
            Заказать обратный звонок
          </a>
        </div>
      </div>
      <div class="documents__right documents__img-wrpapper">
        <img class="documents__img" src="img/documents__img02.jpg" alt="">
      </div>
    </div>
  </div>
</section>
