<header class="header js__header">
  <div class="wrapper">
    <div class="header__inner">
      <a class="header__logo">
        <img src="img/logo.png" alt="">
      </a>
      <nav class="header__nav js__menu">
        <ul class="header__nav-list">
          <li class="header__nav-item">
            <a href="#works">
              Виды работ
            </a>
          </li>
          <li class="header__nav-item">
            <a href="#documents">
              Сертификаты
            </a>
          </li>
          <li class="header__nav-item">
            <a href="#news">
              Новости
            </a>
          </li>
          <li class="header__nav-item">
            <a href="#about">
              О Компании
            </a>
          </li>
        </ul>
      </nav>
      <div class="header__btn--wrapper">
        <button class="header__btn header__btn--open js__btn">
          <span></span>
        </button>
      </div>
    </div>
  </div>
</header>
