<section class="promo">
  <div class="wrapper">
    <h1 class="promo__title">
      Маркшейдерское обслуживание
    </h1>
    <div class="promo__inner">
      <div class="promo__left">
        <p class="promo__text">
          Проектирование горных производств и объектов, маркшейдерское обеспечение горных работ
        </p>
        <div class="promo__social">
          <p class="promo__social-text">
            Подписывайтесь в соцсетях
          </p>
          <ul class="promo__social-list">
            <li class="promo__social-item">
              <a href="">
                <svg class="img">
                  <use xlink:href="img/sprite.svg#icon__instagram"></use>
                </svg>
              </a>
            </li>
            <li class="promo__social-item">
              <a href="">
                <svg class="img">
                  <use xlink:href="img/sprite.svg#icon__youtube"></use>
                </svg>
              </a>
            </li>
            <li class="promo__social-item">
              <a href="">
                <svg class="img">
                  <use xlink:href="img/sprite.svg#icon__facebook"></use>
                </svg>
              </a>
            </li>
            <li class="promo__social-item">
              <a href="">
                <svg class="img">
                  <use xlink:href="img/sprite.svg#icon__twitter"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <ul class="promo__info">
        <li>
          <p>Ежедневно с 08:00 до 18:00</p>
          <a href="tel:+79265661058">+7 (926) 566 10 58</a>
          <a href="mailto:info@geoconect.ru">info@geoconect.ru</a>
        </li>

        <li>
          <dl>
            <dt>Адреc:</dt>
            <dd>115477, г. Москва, ул. Деловая, д.11, корпус 1.</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>Генеральный директор :</dt>
            <dd>Горюшкин Валерий Викторович</dd>
          </dl>
        </li>
      </ul>
    </div>
  </div>
</section>
