<section id="news" class="news">
  <div class="wrapper">
    <h2 class="section-title news__title">
      Новости
    </h2>
    <div class="swiper">
      <ul class="news__list swiper-wrapper">

        {% for news in collections.news %}

        <li class="news__item swiper-slide">
          <div class="news__img">
            <img src="img/news__img01.jpg" alt="">
          </div>
          <div class="news__content">
            <h3 class="news__item-title">
              {{news.data.title}}
            </h3>
            <p>
              Минвостокразвития выступил с предложение об уменьшении НДПИ для проектов по добыче твёрдых ископаемых на
              Дальнем
              Востоке. Как отметил Алексей ЧЕКУНКОВ, возглавляющий Министерство, при разработке месторождений в
              регионе,
              из-за
              отдалённого расположения, а также порой и климатических условий, компании сталкиваются с высокими
              затратами на
              обустройство как транспортной, так и энергетической инфраструктуры.
            </p>
            <p>
              Разработанный законопроект предлагает рассчитывать вычет как сумму понесённых расходов на необходимые
              строительные и
              логистические операции для подобных объектов. При этом вычет не должен превышать 50% от выплаченного
              НДПИ.
            </p>
            <p>
              На снижение ставки смогут рассчитывать только те проекты, где добывающие работы стартовали не ранее 2021
              года.
              Предполагается, что действие льгот продлится вплоть до 2032 г. В Минвостокразвития рассчитывают, что
              данная мера поможет
              привлечь на Дальний Восток более 96 миллиардов руб. инвестиций.
            </p>
          </div>
        </li>
      {% endfor %}

      </ul>
  </div>
</div>
</section>
