<section id="news" class="news">
  <div class="wrapper">
    <h2 class="section-title news__title">
      Новости
    </h2>
    <div class="swiper">
      <ul class="news__list swiper-wrapper">

        {% for news in collections.news %}

        <li class="news__item swiper-slide">
          <div class="news__img">
            <img src={{news.data.img}} alt="">
          </div>
          <div class="news__content">
            <h3 class="news__item-title">
              {{news.data.title}}
            </h3>
            {{ news.templateContent | safe }}
          </div>
        </li>
      {% endfor %}

      </ul>
  </div>
</div>
</section>
