<section id="works" class="works">
  <div class="wrapper">
    <h2 class="works__title">
      Виды работ
    </h2>
    <p class="works__info-text">
      Наша организация занимается выполнением следующих видов работ:
    </p>
    <ul class="works__list">
      {% if works.items %}

        {% for item in works.items %}
          <li class="works__item">
            <a href="" class="works__item-inner" style="background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.798102) 0%,
        rgba(0, 0, 0, 0.617716) 0%,
        rgba(0, 0, 0, 0.552673) 0%,
        #000000 0%,
        rgba(0, 0, 0, 0.20396) 0.01%,
        #000000 0.02%,
        rgba(0, 0, 0, 0) 100%
      ),url('{{item.img}}') no-repeat center / cover;">
              <p class="works__item-description">
                {{item.title}}
                <span class="works__item-arrow"></span>
              </p>
            </a>
          </li>
        {% endfor %}

      {% endif %}

    </ul>
  </div>
</section>
